html {
    scroll-behavior: smooth;
    overflow: scroll;
    scrollbar-width: thin;
}

* {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 82vw;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 19vw;
    left: 50%;
    filter: drop-shadow(0 0 3vw rgb(0, 225, 255));
    animation: fadeDropShadow 3s infinite alternate;
}

.tanda {
    animation: fadeColorDropShadow 3s infinite alternate;
}

@keyframes fadeDropShadow {
    0% {
        filter: drop-shadow(0 0 5vw rgba(0, 225, 255, 1));
    }
    75% {
        filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 0));
    }
}

@keyframes fadeColorDropShadow {
    0% {

        filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 1));
        color: rgba(0, 225, 255, 1);
    }
    50% {
        filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 0));
        color: rgb(255, 255, 255);
    }
    100% {
        filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 1));
        color: rgba(0, 225, 255, 1);
    }
}

.back1 {
    background-color: #101010;
    height: 101vh;
    text-align: center;
}

.content1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    font-family: 'Poppins', sans-serif;
}

.title {
    padding-bottom: 4vw;
    font-size: 6vw;
    font-weight: 500;
}

.desk {
    font-size: 3vw;
    font-weight: 200;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.title, .desk {
    position: relative;
    bottom: 28vw;
}

.buttonDownload {
    display: flex;
    white-space: nowrap;
    position: relative;
    bottom: 17vw;
}

.free {
    margin-right: 10vw;
    background-color: #101010;
    border: 0.1vw solid white;
    font-size: 2.5vw;
    padding: 3vw;
    border-radius: 2vw;
}

.free:focus, .premium:focus {
    filter: drop-shadow(0 0 1vw rgb(0, 225, 255));
    color: rgb(0, 225, 255);
    transition: all ease-in 0.2s;
}

.premium {
    background-color: #101010;
    border: 0.1vw solid white;
    font-size: 2.5vw;   
    border-radius: 2vw;
    padding: 1.5vw;
    color: white;
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 168vw;
    filter: drop-shadow(0 0 3vw rgb(0, 225, 255));
    animation: arrowAnimate 3s infinite alternate;
}

@keyframes arrowAnimate {
    0% {
        transform: translate(-50%, -50%) translateY(3vw);
        filter: drop-shadow(0 0 5vw rgba(0, 225, 255, 1));
        color: rgba(0, 225, 255, 1);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-3vw);
        filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 0));
        color: rgb(255, 255, 255);
    }
    100% {
        transform: translate(-50%, -50%) translateY(3vw);
        filter: drop-shadow(0 0 5vw rgba(0, 225, 255, 1));
        color: rgba(0, 225, 255, 1);
    }
}

.back2 {
    background-color: #FFFFFF;
    height: 100%;
    text-align: center;
    color: #4A4A4A;
    overflow: hidden;
}

.garisAtas {
    margin: auto;
    border: 4vw solid transparent;
    background-color: #FFFFFF;
    border-bottom-right-radius: 15vw;
    border-bottom-left-radius: 15vw;
}

.content2 {
    padding-top: 15vw;
    font-family: 'Poppins', sans-serif;
}

.Select {
    font-size: 6vw;
}

.ketVersi {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vw;
    padding-bottom: 8vw;
    font-size: 3vw;
}

.fitur {
    background-color: #F2F2F2;
    width: 70vw;
    margin: auto;
    border-radius: 2vw;
    height: 110vw;
    margin-bottom: 9vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.fitur1:hover, .fitur2:hover {
    filter: drop-shadow(0 0 0.7vw rgba(0, 225, 255, 1));
}

.judulFitur {
    font-size: 6vw;
    font-weight: 300;
    padding-top: 7vw;
}

.fitur.in-view {
    opacity: 1; 
}

.isiFitur {
    text-align: left;
    line-height: 10vw;
    padding-top: 7vw;
    width: 70vw;
    margin: auto;
    font-size: 3vw;
    padding-left: 7vw;
}

.back3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow: hidden;
}

.content3 {
    width: 85vw;
    margin: auto;
}

.speakify {
    filter: drop-shadow(0 0 2vw rgba(0, 225, 255, 1));
    color: rgb(0, 225, 255);
    animation: fadeDropShadow 3s infinite alternate;
}

@keyframes fadeDropShadow2 {
    0% {
        filter: drop-shadow(0 0 5vw rgba(0, 225, 255, 1));
    }
    75% {
        filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 0));
    }
}

.judulContent3 {
    font-size: 6vw;
    font-weight: 600;
    margin-top: 23vw;
    margin-bottom: 18vw;
}

.isiContent3 {
    margin-bottom: 9vw;
}

.head {
    display: flex;
}

.iconContent3 {
    margin-right: 3vw;
    display: inline-block;
    padding-bottom: 0;
}

.judulIsiContent3 {
    font-size: 5vw;
    white-space: nowrap;
    margin-bottom: 0;
}

.deskripsiIsiContent3 {
    text-align: left;
    padding-top: 4vw;
    font-size: 3vw;
}

.debugIcon {
    color: rgba(0, 225, 255, 1);
    align-items: center;
    display: inline-block;
    vertical-align: middle; 
    height: 5vw;
}

.testiCode {
    position: relative;
    bottom: 10vw;
    filter: drop-shadow(0 0 1vw rgba(0, 225, 255, 0));
    transition: filter 1s;
}

.testiCode:hover {
    filter: drop-shadow(0 0 0.6vw rgba(0, 225, 255, 1));
}


.testi {
    width: 70vw;
    margin-bottom: 14vw;
}

.garis {
    filter: drop-shadow(0 0 3vw rgba(0, 225, 255, 1));
    margin: auto;
    border-radius: 90%;
    border: 1px solid rgba(0, 225, 255, 1);
  }
  
.content4 {
    padding-top: 15vw;
    font-family: 'Poppins', sans-serif;
}

.downloadBox {
    background-color: #222222;
    width: 70vw;
    margin: auto;
    border-radius: 2vw;
    height: 50vw;
    margin-bottom: 5vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
    transition: opacity 1s ease-in-out; 
    text-align: center;
}

.downloadBox:hover {
    box-shadow: 0 0 4vw rgb(253, 253, 253);
    transition: all 0.2s ease-in;
}

.logoBox {
    padding-top: 8vw;
    width: 10vw;
    margin: auto;
}

.judulBox {
    font-size: 6vw;
}

.downloadButton {
    font-size: 3vw;
    border: 1px solid rgba(0, 225, 255, 1);
    filter: drop-shadow(0 0 0.2vw rgba(0, 225, 255, 1));
    border-radius: 9vw;
    padding: 2vw;
    background-color: transparent;
    width: 30vw;
    margin-top: 3vw;
    color: white;
}

.free:hover {
    border: 1px solid rgba(0, 225, 255, 1);
}

.Select2 {
    font-size: 6vw;
}

.atas {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    background-color: #F2F2F2;
    border: 1px solid rgba(0, 225, 255, 1);
    filter: drop-shadow(0 0 1vw rgb(0, 110, 124));
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 80vw;
    top: 90vh;
    z-index: 8;
    padding-top: 1vw;
    visibility: hidden;
}

.atasVisible {
    visibility: visible;
}

.garis1 {
    margin: auto;
    border: 4vw solid transparent;
    background-color: #FFFFFF;
    border-top-right-radius: 15vw;
    border-top-left-radius: 15vw;
}

.back5 {
    background-color: #ffffff;
    height: 65vh;
    text-align: center;
    color: #4A4A4A;
}

.judulContent5 {
    font-size: 6vw;
    font-weight: 600;
    padding-top: 2vw;
    color: #4A4A4A;
    padding-bottom: 4vw;
}

.ketContent5 {
    font-size: 3vw;
}

.profilCard {
    padding-top: 7vw;
    display: flex;
    margin-top: 10vw;
    width: 590vw;
    justify-content: space-between;
}

.Card {
    border: 0.5vw solid rgb(0, 96, 109);
    padding: 4vw;
    width: 50vw;
    margin-right: 0vw;
    margin-left: 0vw;
    border-radius: 6vw;
}
 
.profilImage {
    width: 27vw;
    border: 0.5vw solid rgb(0, 96, 109);
    padding: 1vw;
    border-radius: 70%;
    margin-bottom: 5vw;
}

.nama {
    font-size: 4vw;
    font-weight: 500;
    color: #4A4A4A;
}

.job {
    font-size: 3vw;
    font-weight: 400;
    color: rgb(0, 96, 109);
    margin-bottom: 8vw;
}

.IconCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iconCard {
    margin-right: 2vw;
    margin-left: 2vw;
}

.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: -40vw;
    display: flex;
    justify-content: space-between;
    width: 85vw;
}

.left, .right {
    background-color: transparent;
    border: none;
}

.left {
    visibility: hidden;
}

.ilang{
    visibility: hidden;
}

.ada {
    visibility: visible;
}

.judulContent6 {
    font-size: 6vw;
    font-weight: 500;
}

.content6 {
    margin-top: 15vw;
}

.sectionFaq {
    margin-top: 10vw;
    padding: 3vw;
}

.deskContent6 {
    font-size: 3vw;
    margin-top: 4vw;
}

.boxFaq {
    border: 0.5vw solid rgba(0, 225, 255, 1);
    border-radius: 2vw;
    display: flex;
    margin-bottom: 2vw;
    font-size: 3.5vw;
    padding: 2vw;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.jawabanBoxFaq {
    font-size: 3vw;
    text-align: left;
    filter: drop-shadow(0 0 0.2vw rgb(255, 255, 255));
    padding: 2vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
    white-space: normal;
}

.hilang {
    display: none;
}

.aktif {
    display: block;
}