* {
    font-family: 'Poppins', sans-serif;
}

/* style main div */
.main {
    background-color: #101010;;
    height: 100vh;
}

/* style div logo */
.logoImagePlus {
    width: 30vw;
    height: 30vw;
}

.logo{
    width: max-content;
    height: 30vw;
    position: relative;
    right: 7vw;
    bottom: 4vw;
}

/* style div container */
.container {
    text-align: center;
    width: 90vw;
    position: absolute;
    top: 50%;
    height: 90vh;
    border-radius: 5vw;
    padding: 3vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
}

/* style div judul */
.judul {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
}

.judulText {
    font-size: 7vw;
    margin: auto;
    font-weight: 600;
    margin-bottom: 7vw;
}

/* style div form */
.formIsiNamaInput, .formIsiEmailInput {
    width: 70vw;
    height: 8vw;
    border-radius: 1vw;
    margin-bottom: 4vw;
    background-color: #101010;
    border: 0.5vw solid rgb(0, 191, 255);
    padding-left: 4vw;
    color: white;
}

.formIsiBuktiInput {
    width: 70vw;
    border-radius: 1vw;
    margin-top: 2vw;
}

.Button {
    background-color: rgb(0, 191, 255);
    color: #ffffff;
    border: none;
    padding: 2vw;
    border-radius: 2vw;
    margin-top: 8vw;
    width: 50vw;
}

.formIsiBuktiInput::file-selector-button {
    background-color: #101010;
    border: thin solid rgb(0, 191, 255);
    border-radius: 2vw;
    font-size: 3vw;
    color: white;
    padding: 2vw;
    margin-right: 4vw;
}

.formIsiBuktiInput:focus {
    background-color: rgb(0, 191, 255);
}

fieldset {
    border-radius: 3vw;
    width: 8vw;
    margin: auto;
    height: 15vw;
    margin-bottom: 3vw;
}

legend {
    text-align: left;
    margin-left: 5vw;
    font-size: 3.5vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

.formIsiNamaInput,.formIsiEmailInput {
    border: none;
    position: relative;
    top: 0vw;
    outline: none;
    font-size: 4vw;
}

.howTo {
    font-size: 3vw;
    margin-top: 3vw;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}
